/* VARIABLES */
/*  FUENTES  */
@font-face {
  font-family: "Roboto_Mono";
  src: url("/fonts/RobotoMono-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Transcity";
  src: url("/fonts/Transcity_texto TTF.ttf") format("truetype");
}
/* HTML, BODY */
* {
  box-sizing: border-box;
}

html {
  background-color: bisque;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  overflow: auto;
}
body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

/* ------- DESKTOP (1200px) ------- */
@media screen and (min-width: 1200px) {
  /* HEADER */
  header {
    width: 100%;
    height: 80px;
    border: solid black 2px;
    display: flex;
  }
  .logo {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo_header {
    max-height: 60%;
    max-width: 80%;
  }
  .nav {
    flex: 6;
    border: solid black 2px;
    border-top: 0px;
    border-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  .nav_btn {
    padding: 6px 16px 6px 16px;
  }
  .nav_btn:hover {
    background-color: #73FFB0;
    transition: 0.4s;
  }
  .btn {
    text-decoration: none;
    font-family: "Roboto_Mono", monospace;
    color: black;
    font-size: 1em;
  }
  .search {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search:hover {
    background-color: #73FFB0;
    cursor: pointer;
    transition: 0.4s;
  }
  .search:hover .lupa {
    height: 60%;
    transition: 0.4s;
  }
  .lupa {
    height: 50%;
  }
  .banner {
    height: 100px;
    width: 100%;
    border-right: solid black 2px;
    border-left: solid black 2px;
    padding: 10px;
    background-color: #73FFB0;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .banner::-webkit-scrollbar {
    height: 6px;
    background-color: transparent;
  }
  .banner::-webkit-scrollbar-thumb {
    height: 6px;
    background-color: white;
    border: solid black 2px;
    border-bottom: 0px;
  }
  .banner p {
    font-family: "Roboto", sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    white-space: nowrap;
  }
  /* MAIN */
  main {
    flex: 1;
    border: solid black 2px;
    display: flex;
    min-height: 670px;
  }
  .main_vid {
    height: 670px;
    flex: 60;
  }
  .article_1 {
    flex: 20;
    height: 670px;
    border-left: solid black 2px;
    border-right: solid black 2px;
    display: block;
    padding: 0px;
    overflow: auto;
  }
  .article_1::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
  .article_1::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: white;
    border: solid black 2px;
    border-right: 0px;
  }
  .article_1 p, .article_1 h3 {
    font-family: "Roboto", sans-serif;
    margin: 6px;
  }
  .article_2 {
    flex: 20;
    height: 670px;
    display: block;
  }
  .article_2_int_1 {
    width: 100%;
    height: 50%;
    display: flex;
    overflow: hidden;
    background-image: url("/img/random.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .article_2_int_2 {
    width: 100%;
    height: 50%;
    display: block;
  }
  .social {
    width: 100%;
    height: 25%;
    border-top: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Transcity";
    font-size: 2em;
  }
  .social:hover {
    cursor: pointer;
    font-size: 2.2em;
    background-color: #73FFB0;
    transition: 0.4s;
  }
  /* FOOTER */
  footer {
    width: 100%;
    height: 80px;
    border: solid black 2px;
    border-top: 0px;
    margin-top: auto;
    display: flex;
  }
  .aire {
    flex: 20;
  }
  .colabora {
    flex: 40;
    border-right: solid black 2px;
    border-left: solid black 2px;
  }
  .legal {
    flex: 40;
  }
}
/* ------- TABLET (1199px > 800px)  ------- */
@media screen and (max-width: 1199px) and (min-width: 800px) {
  /* HEADER */
  header {
    width: 100%;
    height: 80px;
    border: solid black 2px;
    display: flex;
  }
  .logo {
    flex: 20;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo_header {
    max-height: 60%;
    max-width: 80%;
  }
  .nav {
    flex: 60;
    border: solid black 2px;
    border-top: 0px;
    border-bottom: 0px;
    padding: 0px 10% 0px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  .nav_btn {
    padding: 6px 16px 6px 16px;
  }
  .nav_btn:hover {
    background-color: #73FFB0;
    transition: 0.4s;
  }
  .btn {
    text-decoration: none;
    font-family: "Roboto_Mono", monospace;
    color: black;
    font-size: 1em;
  }
  .search {
    flex: 20;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search:hover {
    background-color: #73FFB0;
    cursor: pointer;
    transition: 0.4s;
  }
  .search:hover .lupa {
    height: 60%;
    transition: 0.4s;
  }
  .lupa {
    height: 50%;
  }
  .banner {
    height: 100px;
    width: 100%;
    border-right: solid black 2px;
    border-left: solid black 2px;
  }
  /* MAIN */
  main {
    border: solid black 2px;
    display: inline-block;
    height: auto;
    width: 100%;
  }
  .main_vid {
    height: 600px;
    width: 100%;
    border-bottom: solid black 2px;
  }
  .article_1 {
    width: 50%;
    height: 500px;
    display: flex;
    float: left;
  }
  .article_2 {
    width: 50%;
    height: 500px;
    border-left: solid black 2px;
    display: block;
    float: left;
  }
  .article_2_int_1 {
    width: 100%;
    height: 50%;
    display: flex;
  }
  .article_2_int_2 {
    width: 100%;
    height: 50%;
    display: block;
  }
  .social {
    width: 100%;
    height: 25%;
    border-top: solid black 2px;
  }
  /* FOOTER */
  footer {
    width: 100%;
    height: auto;
    border: solid black 2px;
    border-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .aire {
    height: 80px;
    width: 100%;
    border-right: solid black 2px;
  }
  .colabora {
    border-top: solid black 2px;
    height: 80px;
    width: 100%;
  }
  .legal {
    border-top: solid black 2px;
    height: 80px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
